body {
  background: #f0f1f6;
  font-family: "Nunito", sans-serif;
}

a {
  color: #f0f1f6;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.header {
  width: 100%;
  min-height: 101vh;
  background: url("../img/banner2.jpg") no-repeat center;
  background-size: cover;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  max-width: 500px;
  margin: 50px auto;
}

.destaque {
  font-family: "arial", sans-serif;
  color: #a0d925;
  font-size: 4em;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 100px;
}

.contato {
  border: 3px solid #f0f1f6;
  font-weight: 500;
  padding: 10px;
  margin-bottom: 20px;
}

.contato a:visited, .contato a:visited,
.contato a:active {
  color: #f0f1f6;
}

.contato:hover {
  color: #a0d925;
  border: 3px solid #a0d925;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

nav {
  text-transform: uppercase;
  font-family: "arial", sans-serif;
  font-size: 2.25em;
  text-decoration: none;
  text-align: center;
}

.link-sobre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-sobre a {
  margin-bottom: 12px;
}

.link-sobre a, .fa-angle-double-down,
.itens-menu a:visited,
.itens-menu a:active {
  letter-spacing: 3px;
  padding: 15px;
  color: #a0d925;
}

.link-sobre a:hover, .fa-angle-double-down:hover {
  color: #f0f1f6;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

.fa-linkedin,
.fa-github,
.fa-envelope {
  padding: 10px;
  color: #f0f1f6;
  display: block;
}

.fa-linkedin:hover,
.fa-github:hover,
.fa-envelope:hover {
  color: #a0d925;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h2 {
  font-family: "arial", sans-serif;
  color: #a0d925;
  font-size: 2.5em;
}

.item-projeto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  height: 101vh;
  background: #113a5e;
  color: #f0f1f6;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
  margin-bottom: 100px;
}

.img-projeto {
  max-width: 1000px;
  margin: 0 auto;
}

.texto-projeto {
  max-width: 80%;
  color: #113a5e;
  padding: 20px;
  padding-top: 20px;
}

.texto-projeto h2 {
  padding-bottom: 20px;
  letter-spacing: 2px;
  color: #a0d925;
  text-align: center;
}

p {
  font-size: 1.5em;
  letter-spacing: 1px;
  line-height: 1.5em;
  color: #f0f1f6;
}

.projeto-fylo {
  background: #f0f1f6;
}

.projeto-fylo h2, .projeto-fylo p {
  color: #113a5e;
  font-weight: 500;
}

.sobre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80vh;
}

.avatar {
  margin-bottom: 80px;
}

.texto-sobre {
  text-align: center;
}

.texto-sobre h1 {
  font-size: 4em;
  margin-bottom: 20px;
}

.texto-sobre h2 {
  margin-bottom: 10px;
}

.texto-sobre p {
  color: #113a5e;
  margin-bottom: 30px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30vw;
  font-family: "Nunito", sans-serif;
}

input {
  border-top: #a0d925 2px solid;
  border-bottom: none;
  height: 2em;
}

textarea {
  border: #a0d925 2px solid;
}

input, textarea {
  color: #113a5e;
  font-family: "Nunito", sans-serif;
  font-size: 1em;
  border-left: #a0d925 2px solid;
  border-right: #a0d925 2px solid;
  padding: 5px;
}

textarea:focus, input:focus, select:focus {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  outline: 0;
  border: #113a5e 2px solid;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #113a5e;
  font-family: "Nunito", sans-serif;
  font-size: 1em;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #113a5e;
  font-family: "Nunito", sans-serif;
  font-size: 1em;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #113a5e;
  font-family: "Nunito", sans-serif;
  font-size: 1em;
}

input::placeholder, textarea::placeholder {
  color: #113a5e;
  font-family: "Nunito", sans-serif;
  font-size: 1em;
}

textarea {
  height: 15vh;
}

.contato-botao {
  width: 80px;
  height: 30px;
  background: #a0d925;
  border: none;
  margin-bottom: 30px;
}

.contato-botao:focus, .contato-botao:active {
  outline: none;
  background: #113a5e;
  color: #f0f1f6;
}

footer {
  background: #113a5e;
  padding: 10px;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #113a5e;
  color: #f0f1f6;
}

[data-anima="maquina"]::after {
  content: '|';
  opacity: 1;
  margin-left: 5px;
  display: inline-block;
  -webkit-animation: hoverlento .9s;
          animation: hoverlento .9s;
}

@-webkit-keyframes hoverlento {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes hoverlento {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/*# sourceMappingURL=geral.css.map */