// Padroes de cores de fontes
//----------------------------------------------------------------------------------------------

$cor-primaria: #113a5e;
$cor-secundaria: #a0d925;
$cor-clara: #f0f1f6;

$fonte-normal: "Nunito", sans-serif;
$fonte-titulo: "arial", sans-serif;
$fonte-decorativa: "Playball", cursive;

$tamanho-destaque: 4em;
$tamanho-titulo: 2.25em;
$tamanho-subtitulo: 2.5em;
$tamanho-texto: 1.5em;


// Normalização do body
//----------------------------------------------------------------------------------------------
body {
    background: $cor-clara;
    font-family: $fonte-normal;
}

a {
    color: $cor-clara;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

// Estilização do header
//----------------------------------------------------------------------------------------------
.header {
    width: 100%;
    min-height: 101vh;
    background: url("../img/banner2.jpg") no-repeat center;
    background-size: cover;
}

.header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    max-width: 500px;
    margin: 50px auto;
}

.destaque {
    font-family: $fonte-titulo;
    color: $cor-secundaria;
    font-size: $tamanho-destaque;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 100px;
}

.contato {
    border: 3px solid $cor-clara;
    font-weight: 500;
    padding: 10px;
    margin-bottom: 20px;
}

.contato a:visited, .contato a:visited,
.contato a:active {
    color: $cor-clara;
}

.contato:hover {
    color: $cor-secundaria;
    border: 3px solid $cor-secundaria;
    transition: all .4s ease;
}

nav {
    text-transform: uppercase;
    font-family: $fonte-titulo;
    font-size: $tamanho-titulo;
    text-decoration: none;
    text-align: center;
}

.link-sobre{
    display: flex;
    flex-direction: column;
    align-items: center;;
}

.link-sobre a{
    margin-bottom: 12px;
}

.link-sobre a,.fa-angle-double-down,
.itens-menu a:visited,
.itens-menu a:active {
    letter-spacing: 3px;
    padding: 15px;
    color: $cor-secundaria;
}

.link-sobre a:hover, .fa-angle-double-down:hover {
    color: $cor-clara;
    transition: all .4s ease;
}

.social {
    display: flex;
    margin-bottom: 100px;
}

.fa-linkedin,
.fa-github,
.fa-envelope {
    padding: 10px;
    color: $cor-clara;
    display: block;
}

.fa-linkedin:hover,
.fa-github:hover,
.fa-envelope:hover {
    color: $cor-secundaria;
    transition: all .4s ease;
}

// inicio da seção com os projetos realizados
//----------------------------------------------------------------------------------------------
main {
    display: flex;
    flex-direction: column;
}

h2 {
    font-family: $fonte-titulo;
    color: $cor-secundaria;
    font-size: $tamanho-subtitulo;
}

.item-projeto {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    max-width: 100%;
    height: 101vh;
    background: $cor-primaria;
    color: $cor-clara;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 100px;
    }


.img-projeto {
    max-width: 1000px;
    margin: 0 auto;
}

.texto-projeto {
    max-width: 80%;
    color: $cor-primaria;
    padding: 20px;
    padding-top: 20px;
}

.texto-projeto h2 {
    padding-bottom: 20px;
    letter-spacing: 2px;
    color: $cor-secundaria;
    text-align: center;
}

p {
    font-size: $tamanho-texto;
    letter-spacing: 1px;
    line-height: 1.5em;
    color: $cor-clara
}

.projeto-fylo{
    background: $cor-clara;

}

.projeto-fylo h2, .projeto-fylo p{
    color: $cor-primaria;
font-weight: 500;
}


// inicio da area sobre
//----------------------------------------------------------------------------------------------

.sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.avatar{
    margin-bottom: 80px;
}
.texto-sobre {
    text-align: center;
}

.texto-sobre h1{
    font-size: $tamanho-destaque;
    margin-bottom: 20px;
}

.texto-sobre h2{
    margin-bottom: 10px;
}

.texto-sobre p{
    color: $cor-primaria;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    font-family: $fonte-normal;
}

input{
    border-top: $cor-secundaria 2px solid;
    border-bottom: none;
    height: 2em;
}

textarea{
    border: $cor-secundaria 2px solid
}

input, textarea{
    color:$cor-primaria;
    font-family: $fonte-normal;
    font-size: 1em;
    border-left: $cor-secundaria 2px solid;
    border-right: $cor-secundaria 2px solid;
    padding: 5px;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    border: $cor-primaria 2px solid;;
}

input::placeholder, textarea::placeholder {
    color:$cor-primaria;
    font-family: $fonte-normal;
    font-size: 1em;
}

textarea {
    height: 15vh;
}

.contato-botao{
    width: 80px;
    height: 30px;
    background: $cor-secundaria;
    border: none;
    margin-bottom: 30px;
}

.contato-botao:focus, .contato-botao:active {
    outline: none;
    background: $cor-primaria;
    color: $cor-clara;
}
//rodapé
//----------------------------------------------------------------------------------------------
footer {
    background: $cor-primaria;
    padding:10px;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer div {
    display: flex;
    align-items: center;
    background: $cor-primaria;
    color: $cor-clara;
}


// animações de hover
//----------------------------------------------------------------------------------------------



[data-anima="maquina"]::after {
    content: '|';
    opacity: 1;
    margin-left: 5px;
    display: inline-block;
    animation: hoverlento .9s;

  }

  @keyframes hoverlento {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }