@media only screen and (max-width: 768px) {
    html {
        font-size: 10px;
    }

    form{
        width: 90vw;
    }
}

@media only screen and (max-width: 475px) {
    html {
        font-size: 10px;
    }
    .logo {
        max-width: 150px;
        margin: 40px auto;
    }
    .contato {
        display: none;
    }


    .destaque {
        margin-bottom: 80px;
    }

    .item-projeto{
        padding: 1em;
        margin-bottom: 50px;
        grid-template-rows: 2fr 1fr 1fr;
    }

    .texto-projeto {
        max-width: 95%;
    }

    footer {
        display: flex;
        flex-direction: column;
    }
}