@media only screen and (max-width: 1060px) {

  .item-projeto {
    flex-direction: column;
    align-items: center;
  }

  .img-projeto, .texto-projeto {
    max-width: 100%;
    width: 100%;
  }

  }

  @media only screen and (max-width: 850px) {

    .topo .container{
      flex-direction: column;
    }

    .social{
      align-self: initial;
  }

  footer div{  
      flex-direction: column;
      
    }
    footer div .social{
      flex-direction: row;
    }
  
    }

