@import url("reset.css");

$cor-primaria: #0D2840;
$cor-secundaria: #A0D925;
$cor-clara: #F0F1F6;

$fonte-normal: 'Georgia', sans-serif;
$fonte-titulo: "arial", sans-serif;
$fonte-decorativa: 'Playball', cursive;

body {
    background: $cor-clara;
    font-family: $fonte-normal;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.topo {
    background: $cor-primaria;
    padding: 50px 0 50px 0;
}

.topo div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: $fonte-decorativa;
    color: $cor-clara;
    font-size: 3.5em;
    transition:all 1s;
}

.logo:hover {
    color: $cor-secundaria;
}

nav {
    display: flex;
}

nav ul{
    display: flex;
    text-transform: uppercase;
    font-family: $fonte-titulo;
    font-size: 2em;
    text-decoration: none;
    padding: 10px;
}

.itens-menu li{
    margin: 5px;
}

.itens-menu li a, .itens-menu li a:visited, .itens-menu li a:active{
    letter-spacing: 3px;
    padding: 15px;
    color: $cor-clara;

}

.itens-menu li a:hover {
    color: $cor-secundaria;
    transition:all 1s;

}

.fa-linkedin, .fa-github{
    padding: 10px;
    color: $cor-clara;
    transition:all 1s;

}

.fa-linkedin:hover, .fa-github:hover{
    color: $cor-secundaria;
    transition:all 1s;
}

.social{
    align-self: flex-start;
}

main {
    padding-top: 60px;
}

h1 {
    font-family: $fonte-titulo;
    color: $cor-secundaria;
    font-size: 4em;
    text-align: center;
    padding-bottom: 40px;
    letter-spacing: 2px
}

h2 {
    font-family: $fonte-titulo;
    color: $cor-secundaria;
    font-size: 1.5em;
}

.item-projeto {
    display: flex;
    background: $cor-primaria;
    margin-bottom: 50px;
    color: $cor-clara;

}

.item-projeto img{
    display: flex;
    max-width: 60%;
}

.texto-projeto {
    padding: 20px;
    padding-top: 20px;
}

.texto-projeto h2 {
    padding-bottom: 20px;
    font-size: 2em;
    letter-spacing: 2px
}

p {
    font-size: 1.1em;
    letter-spacing: 1px;
    line-height: 1.5em;
}

footer{
    background: $cor-primaria;
}

footer div{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: $cor-primaria;
    color: $cor-clara;
    padding: 30px 0;
}

footer p{
    margin-left: 15px;
}

.main-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-sobre {
    text-align: center;
}

.avatar, .texto-sobre p {
    margin-bottom: 50px;
}

.texto-sobre h2 {
    margin-bottom: 20px;
}
